.wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--mainBackground);
    min-height: 590px;
    height: auto;
    width: 100%;
}