.block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--issuesBlockBackground);
    border-radius: 10px;
    padding: 12px;
    margin: 25px 12px;
    max-height: 590px;
    max-width: 282px;
    overflow: auto;
    width: 100%;
}

.title, .issues {
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.issues {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 8px;
    margin: 7px 0;
    text-decoration: none;
}

.block::-webkit-scrollbar {
    border-radius: 6px;
    width: 12px;
}

.block::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.block::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    border-radius: 6px;
    outline: 1px solid slategrey;
}