.wrapper {
    background-color: var(--menuBackground);
    border-radius: 5px;
    padding: 3px 7px;
    height: 50px;
    width: 134px;
}
.wrapper:before {
    content: "";
    position: absolute;
    background-image: url("../../../assets/images/rectangle.svg") ;
    left: 82px;
    top: -7px;
    height: 17px;
    width: 17px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    cursor: pointer;
}

.item:hover {
    text-decoration: underline;
}