.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headerColor);
    padding: 0 2%;
    height: 55px;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 333px;
    width: 100%;
}

.text, .copyRight {
    color: var(--headerTextColor);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}